* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center; */
}

.card {
    width: 90%;
    max-width: 470px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .Wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        background-image: url(./images/bgv.jpg);
        background-size: cover;
        /* background-repeat: no-repeat;
        background-position: center; */
    }
    .card {
        padding: 20px 15px;
        margin: 50px auto 0;
    }

    .search input {
        padding: 8px 15px;
        height: 50px;
        font-size: 16px;
        margin-right: 10px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .details {
        flex-direction: column;
        padding: 0;
        margin-top: 30px;
    }

    .col {
        margin-bottom: 20px;
    }

    .humidity, .Wind {
        font-size: 20px;
    }
}
